{
  "writer": {
    "endpoints": ["${CASSANDRA_HOST}:${CASSANDRA_PORT}"],
    "keyspace": "${CASSANDRA_KEYSPACE}",
    "username": "${CASSANDRA_USERNAME}",
    "password": "${CASSANDRA_PASSWORD}",
    "ca_path": ""
  },
  "reader": {
    "endpoints": ["${CASSANDRA_HOST}:${CASSANDRA_PORT}"],
    "keyspace": "${CASSANDRA_KEYSPACE}",
    "username": "${CASSANDRA_USERNAME}",
    "password": "${CASSANDRA_PASSWORD}",
    "ca_path": ""
  }
}
