{
  "writer": {
    "adapter": "mysql",
    "params": {
      "charset": "utf8mb4",
      "host": "${DB_HOST}",
      "port": ${DB_PORT},
      "dbname": "${DB_NAME}",
      "username": "${DB_USER}",
      "password": "${DB_PASSWORD}"
    }
  },
  "reader": {
    "adapter": "mysql",
    "params": {
      "charset": "utf8mb4",
      "host": "${DB_HOST}",
      "port": ${DB_PORT},
      "dbname": "${DB_NAME}",
      "username": "${DB_USER}",
      "password": "${DB_PASSWORD}"
    }
  }
}
