datastore:
  secret_path: "evaluate/env/"
  database_name: "scaffold"
  cassandra_name: "scaffold"
  redis_name: "scaffold"
app:
  name: "scaffold"
  domain_name: "localhost"
  port: 8080
  environment: "local"
  channel: "scaffold"
credentials:
  secret_slack:
    webhook: ""
  recaptcha:
    site_key: ""
    secret_key: ""
  gtm_id: ""
http:
  scheme: "http"
  session_type: "redis"
  session_key: "scaffold_session"
  session_domain: "localhost"
  session_expire_time: 86400
lang:
  default: "en"
logger:
  logger_path: "alloc/logs"
  log_level: "debug"
  stdio_capture: false
profiler:
  enable: false
